body {
      font-family: "Lucida Console", "Courier New", monospace;
      text-align: center;
      padding: 1em 0 0 0;
      color: #ce2960;
}

div {
      text-align: center;
}

button {
    border: none;
    padding: 2em 2em 2em 2em;
    border-radius: 1em;
    background-color:#6ee2d9;
    transition: 0.5s;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

button:hover{
    background-color:#0f4b55;
}

.sound-overlay {                                                                                    
    background: #fff;
    z-index: 20;
    line-height: 20px;
    border-radius: 6px;
    position:fixed;
    width: 320px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -180px; /* Negative half of width. */
    margin-top: -180px; /* Negative half of height. */
    font-size: 16px;
    line-height: 24px;

    padding: 20px 20px 20px 20px;

    box-shadow: 0 0 0 1500px rgba(0, 0, 0, .5);
    .accept-sound {
        cursor: pointer;
    }
}

.d-none {
	display: none;
}

#stopButton {
	display: none;
}
